/*顶部简介*/
.jianjie{padding-top: 30px;height:100px;line-height: 30px;}

.jianjie .img{float:left;width: 160px; height: 160px;border-radius: 160px;}
.jianjie .fl{height:20px;width:600px;padding-left: 30px;}
.jianjie .fl h2{font-size: 35px;padding-bottom: 20px;}
.jianjie .fl p{font-size: 20px;}
.jianjie .fl span{color: #9D9090;padding-right: 10px;padding-top: 10px;display: inline-block;}
.jianjie .fl a{color: #DF2D2A;}
.jianjie .fl a:hover{background-color: #DD3915;color: #FFFFFF;}

.jianjie .fl .icon1{display: inline-block;background: url(../img/userkitchen/icon.png);width: 22px;height: 22px;vertical-align: middle;}
.jianjie .fl .icon2{display: inline-block;background: url(../img/userkitchen/icon2.png);width: 8px;height: 8px;margin-left: 3px;}

.jianjie .fr .guanzhu2{width: 120px;height: 50px;background: #DD3915;line-height: 50px;
font-size: 15px;color: #fff;text-indent: 42px;margin-right: 25px;}
.jianjie .fr .guanzhuderen{width: 150px;height: 58px;background: #F5F6F5;margin-top: 50px;line-height: 20px;}
.jianjie .fr .x{float: left;width: 48%;height: 40px;text-align: center;margin: 9px 0px;}
.jianjie .fr .y{border-right: 1px solid #CCCCCC;}
.jianjie .fr span{}
.jianjie .fr a{font-weight: bold;font-size: 16px;color: #DF2D2A;}
.jianjie .fr a:hover{background-color: #DD3915;color: #FFFFFF;}
.jianjie .fr .apply{margin-top:10px; color: #BFA699;}
.jianjie .fr button{ margin-right:200px; width: 100px; height: 42px;
background-color: #dd3915; color: #fff; border: 0px; white-space:nowrap;}

/*副标题*/
.fubiaoti2{padding-top: 20px;padding-bottom: 20px;}
.fubiaoti2 h2{float:left;}
.fubiaoti2 span{font-weight: bold;font-size: 13px;display:inline-block;margin-top: 8px;}
.fubiaoti2 a{color: #DF2D2A;}
.fubiaoti2 a:hover{background-color: #DD3915;color: #FFFFFF;}

/*userproduction用户作品*/
.b:before,.c:before{content: '';background:url(../img/userkitchen/icon4.png);padding: 0 6px;
margin-right: 5px;}

.userproduction{width: 300px;height:350px;border: 1px solid #F3F3F3;background: #fff;float: left;margin-right: 30px;margin-bottom: 30px;}
.userproduction .cover{padding-left: 10%;padding-right: 10%;}
/*background-color: #000;filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
.userproduction .active{opacity: 0;}*/
.userproduction .active:hover{background-color:rgb(166,166,166);opacity: 1;}
.userproduction .name{display: inline;font-size:16px;color: #dd3915;margin: 10px;width: 280px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.userproduction .name:hover{background: #DD3915;color:#fff;}
.userproduction p{margin:0 10px;}
.userproduction .stars{margin: 10px;color:#909090;font-size:12px;}
.userproduction .stars span{color:#909090;font-size:12px;display: inline-block;margin-right:10px;}
.userproduction .stars a{color:#909090;font-size:12px;}
.userproduction .stars a:hover{background: #909090;color: #fff;}
.userproduction .stars .b,.stars .c{float:right;}
.userproduction  .b:before{background-position: -29px -165px;}
.userproduction  .c:before{background-position: -93px -164px;}
.userproduction .stars .button{ margin-top:10px;margin-left:80px; width: 40%; height: 42px;
background-color: #dd3915; color: #fff; border: 0px; white-space:nowrap;}



.img_size{width:250px;}

.bigmenu{display: none;}
.bigmenus{display: none;}
.works{display: none;}
.collect{display: none;}
.messager{font-size: 16px;color: #222;margin: 50px;}
.messager a{color: #DD3915;}
.messager a:hover{color: #fff;background: #DD3915;}

